<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

{% include base/head.html %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K249V5C"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include header.html %}
{{ content }}
{% include footer.html %}
{% include arsha/preloader.html %}
{% include arsha/go-to-top.html %}
{% include base/load-js.html %}
</body>

</html>
